app:
  name: bff
  image:
    repository: "onecx/onecx-tenant-bff"
  operator:
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
          tenant:
            read: permission on all GET requests and POST search
            write: permission on PUT, POST, PATCH requests, where objects are saved or updated
            delete: permission on all DELETE requests
    keycloak:
      client:
        enabled: true
        spec:
          kcConfig:
            defaultClientScopes: [ ocx-tn:all ]